.header1 {
  color: black;
}
.background {
  background-color: #ffffff;
  border-radius: 3px;
}
.firstbuttons {
  display: flex;
  padding-top: 10px;
  margin-left: 1.5%;
}
.button1 {
  color: white;
  background-color: #1ab394;
  border-color: transparent;
  border-radius: 4px;
  margin-right: 5px;
  height: 30px;
  width: 150px;
  cursor: pointer;
}
.button1:hover {
  background-color: #2b8774;
}
.button2 {
  color: white;
  background-color: #1ab394;
  border-color: transparent;
  border-radius: 4px;
  height: 30px;
  width: 160px;
  cursor: pointer;
}
.button2:hover {
  background-color: #2b8774;
}
.Note {
  background-color: #fff3cd;
  border-radius: 2px;
  height: 80px;
  color: #856404;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 1.25px;
  width: 97%;
  margin-left: 1.5%;
}
.Note1 {
  margin-bottom: -35px;
  margin-left: 10px;
}
.Note2 {
  margin-left: 10px;
}
.Fillings {
  color: rgb(54, 54, 54);
}
.Fill1 {
  margin-bottom: 5px;
}
.ServerType {
  margin-right: 325px;
  margin-left: 1.5%;
}
.ServerTypein {
  width: 600px;
  height: 35px;
  border-radius: 2px;
  border: solid;
  border-color: rgb(223, 223, 223);
}
.ServerTypein:focus {
  outline-color: #1ab394;
}
.SMTPServer {
  margin-right: 318px;
  margin-left: 1.5%;
}
.SSMTPServerin {
  width: 600px;
  height: 35px;
  border-radius: 2px;
  border: solid;
  border-color: rgb(223, 223, 223);
}
.SSMTPServerin:focus{
  outline-color: #1ab394;
}
.SMTPServerPort {
  margin-right: 294px;
  margin-left: 1.5%;
}
.SSMTPServerPortin {
  width: 600px;
  height: 35px;
  border-radius: 2px;
  border: solid;
  border-color: rgb(223, 223, 223);
  margin-top: 5px;
}
.SSMTPServerPortin:focus{
  outline-color: #1ab394;
}
.SenderEmailAddress {
  margin-right: 261px;
  margin-left: 1.5%;
}
.SenderEmailAddressin {
  width: 600px;
  height: 35px;
  border-radius: 2px;
  border: solid;
  border-color: transparent;
  margin-top: 5px;
  border-color: rgb(223, 223, 223);
}
.SenderEmailAddressin :focus{
  outline-color: #1ab394;
}
.RecipientEmailAddress {
  margin-right: 249px;
  margin-left: 1.5%;
}
.RecipientEmailAddressin {
  width: 600px;
  height: 35px;
  border-radius: 2px;
  border: solid;
  border-color: rgb(223, 223, 223);
  margin-top: 5px;
}
.RecipientEmailAddressin:focus{
  outline-color: #1ab394;
}
.Fill6 {
  display: flexbox;
  display: flex;
}
.TestEmailBody {
  margin-right: 300px;
  margin-left: 1.5%;
}
.TestEmailBodyin {
  width: 600px;
  height: 200px;
  border-radius: 2px;
  border: solid;
  border-color: rgb(223, 223, 223);
  margin-top: 5px;
}
.TestEmailBodyin:focus{
  outline-color: #1ab394;
}
.Fill7 {
  margin-top: 7px;
}
.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: rgb(215, 211, 211);
  margin-left: 35%;
  vertical-align: middle;
}

.toggle input {
  display: none;
}

.toggle .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #4d4d4d;
  background-color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(var(--width) * -1);
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #1ab394;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  transform: translateX(var(--width));
}

.toggle input:checked ~ .labels::before {
  transform: translateX(var(--width));
}
.EnableCDOSettings {
  margin-right: -155px;
  margin-left: 1.5%;
}
.UserName {
  margin-right: 325px;
  padding-right: 5px;
  margin-left: 1.5%;
}
.UserNamein {
  width: 600px;
  height: 35px;
  border-radius: 2px;
  border: solid;
  border-color: rgb(223, 223, 223);
  margin-top: 5px;
}
.UserNamein:focus {
  outline-color: #1ab394;
}
.Password {
  margin-right: 332px;
  padding-right: 8px;
  margin-left: 1.5%;
}
.Passwordin {
  width: 600px;
  height: 35px;
  border-radius: 2px;
  border: solid;
  border-color: rgb(223, 223, 223);
  margin-top: 5px;
}
.Passwordin:focus {
  outline-color: #1ab394;
}

.secondbuttons {
  margin-top: 5px;
  padding-left: 430px;
  padding-bottom: 10px;
}
.button3 {
  color: white;
  background-color: #1ab394;
  border-color: transparent;
  border-radius: 2px;
  margin-right: 3px;
  height: 30px;
  width: 150px;
  cursor: pointer;
}
.button3:hover {
  background-color: #2b8774;
}
.button4 {
  color: white;
  background-color: #1ab394;
  border-color: transparent;
  border-radius: 2px;
  margin-right: 3px;
  height: 30px;
  width: 120px;
  cursor: pointer;
}
.button4:hover {
  background-color: #2b8774;
}
